# Environment variables
.env

# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv
venv/
ENV/
env/

# IDE configuration files
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info/